body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-family: "Playfair Display", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.react-calendar__tile--active {
  background: #9c9736b8 !important;
}

.react-calendar__tile--hasActive {
  background: #9c973685 !important;
}
