
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Terra Nova Cabins, <%= @user.name %></h1>
    <p>
      You have successfully reserved a BLANK room for the folowing dates: <br>
      DATE HERE
      
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks, and we look forward to seeing you!</p>
  </body>
</html>