<!DOCTYPE html>
<html>
  <head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> Welcome to TerraNovaCabins.com, <%= @user.name %></h1>
    <p>
      You have successfully signed up to TerraNovaCabins.com. <br>
    </p>
    <p>
    To login, please follow this link: <%= @url %>
    </p>
    <p>
      We thank you for joining our Terra-Team, and hope you have a wonderul day!
    </p>
  </body>
</html>
